## The data here is of generic interest to modules in different namespaces hence this is marked as global.
## Replace your domain names here.
## mosip-api-host:  External public access. (Typically required only in production rollouts).
## mosip-api-internal-host: Internal secure access over Wireguard.
## By default all domains and subdomains listed below point to mosip-api-internal-host. Modify this default behavior ONLY in production rollout as follows:
##     mosip-prereg-host:  Points to mosip-api-host.
##     mosip-pmp-host: Points to mosip-api-host.

apiVersion: v1
kind: ConfigMap
metadata:
  name: global
  namespace: default
data:
  installation-name: openg2p 
  installation-domain: {{domain}}
  mosip-version: develop
  mosip-api-host: api.{{domain}}
  mosip-api-internal-host: api-internal.{{domain}}
  mosip-prereg-host: prereg.{{domain}}
  mosip-activemq-host: activemq.{{domain}}
  mosip-kibana-host: kibana.{{domain}}
  mosip-admin-host: admin.{{domain}}
  mosip-regclient-host: regclient.{{domain}}
  mosip-minio-host: minio.{{domain}}
  mosip-kafka-host: kafka.{{domain}}
  mosip-iam-external-host: iam.{{domain}}
  mosip-postgres-host: postgres.{{domain}}
  mosip-pmp-host: pmp.{{domain}}
  mosip-resident-host: resident.{{domain}}
  mosip-compliance-host: compliance.{{domain}}
  mosip-esignet-host: esignet.{{domain}}
  mosip-smtp-host: smtp.{{domain}}
  mosip-signup-host: signup.{{domain}}
  is_glowroot_env: absent