apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: kafka-cluster
spec:
  kafka:
    version: 3.7.0
    replicas: 3
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
      inter.broker.protocol.version: "3.7"
    storage:
      class: {{strimzi_storage_class}}
      type: jbod
      volumes:
      - id: 0
        class: {{strimzi_storage_class}}
        type: persistent-claim
        size: 1Gi
        deleteClaim: true
  zookeeper:
    replicas: 3
    storage:
      class: {{strimzi_storage_class}}
      type: persistent-claim
      size: 1Gi
      deleteClaim: true
  entityOperator:
    topicOperator: 
      reconciliationIntervalMs: 60000
      logging:
        type: inline
        loggers:
          rootLogger.level: INFO
          logger.top.name: io.strimzi.operator.topic 
          logger.top.level: INFO
          logger.toc.name: io.strimzi.operator.topic.TopicOperator
          logger.toc.level: INFO 
          logger.clients.level: INFO 
    userOperator: {}