---
services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: {{wireguard_name}}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{timezone}}
      - PEERS={{wireguard_peers}}
      - PEERDNS=""
      # - INTERNAL_SUBNET={{ wireguard_subnet.split('/')[0] }}
      # - ALLOWEDIPS={{wireguard_client_allowed_ip}}
      # - SERVERPORT={{wireguard_port}}
    volumes:
      - {{wireguard_config_location}}:/config
      - /lib/modules:/lib/modules #optional
    ports:
      - {{wireguard_port}}:{{wireguard_port}}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped