gitRepo:
  uri: {{mosip_config_repo}}
  version: {{mosip_config_rel_version}}
  ## Folders within the base repo where properties may be found.
  searchFolders: ""
  private: false
  ## User name of user who has access to the private repo. Ignore for public repo
  username: ""
  token: ""
