apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: registry
spec:
  gateways:
    - istio-system/all-hosts
  hosts:
    - sbrciam.{{domain}}
  http:
    - route:
        - destination:
            host: registry
            port:
              number: 8081
      headers:
        request:
          set:
            x-forwarded-proto: https
      match:
        - uri:
            prefix: /registry